:root {
  --card-width: 250px;
  --card-height: 350px;
}

@font-face {
  font-family: pokemon solid;
  src: url("pokemon_solid-webfont.3ab782ec.woff2") format("woff2"), url("pokemon_solid-webfont.c9bd6317.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

span {
  display: inline-block;
}

html, body {
  margin: 0;
}

span.antiClockwise {
  transform: rotate(-10deg);
}

span.clockwise {
  transform: rotate(10deg);
}

span.mid {
  position: relative;
}

body {
  margin: 0;
  color: #5e5447;
  font-family: "Kanit", sans-serif;
  text-shadow: 2px 2px 3px rgb(177, 177, 177);
  /* background: #FE4818; */
  background: linear-gradient(to right, #FF416C,#FF4B2B)
}

ul.dropdown-menu.show {
  background-color: #6C757D;
}

ul li {
  color: white !important;
}

.dropdown-item:hover {
  background-color: dodgerblue;
}

h1,h2,h3.pokefont {
  -webkit-text-stroke: 3px navy;
  color: #FADA08;
  font-family: pokemon solid;
  text-align: center;
}

#ui-container {
  text-align: center;
}

#ui-container h3 {
  margin: 0;
  display: inline-block;
  font-size: 40px;
  text-align: center;
}

#ui-container h3:first-child {
  margin-right: 40px;
}

#card-container {
  font-size: 12px;
  margin: 50px auto;
  width: calc((var(--card-width) + 2vw + 12px) * 4);
}

.card {
  display: inline-block;
  position: relative;
  margin: 1vw;
  width: var(--card-width);
  height: var(--card-height);
  border: 2px solid transparent;
  background: linear-gradient(to right, #FF416C,#FF4B2B);
  overflow: hidden;
}

/* Style the two logo images themselves. */
.card-down,
.card-up {
  /* Take images out of the flow. */
  position: absolute;

  width: 100%;
  height: 100%;

  /* When facing away from the screen each image should be hidden. */
  backface-visibility: hidden;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.card-down {
  background-image: url(img/card.png);
  background-position: center;
  background-size: cover;
}

.card-up {
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}

.flipped .card-down {
  transform: rotateY(180deg);
}

.flipped .card-up {
  transform: rotateY(0deg);
}

/* .image-1 .card-up { */
/*   background-image: url(img/image-1.png), linear-gradient(#72dbf4, #72dbf4); */
/* } */
/**/
/* .image-2 .card-up { */
/*   background-image: url(img/image-2.png), linear-gradient(#72dbf4, #72dbf4); */
/* } */
/**/
/* .image-3 .card-up { */
/*   background-image: url(img/image-3.png), linear-gradient(#72dbf4, #72dbf4); */
/* } */
/**/
/* .image-4 .card-up { */
/*   background-image: url(img/image-4.png), linear-gradient(#72dbf4, #72dbf4); */
/* } */
/**/
/* .image-5 .card-up { */
/*   background-image: url(img/image-5.png), linear-gradient(#72dbf4, #72dbf4); */
/* } */
/**/
/* .image-6 .card-up { */
/*   background-image: url(img/image-6.png), linear-gradient(#72dbf4, #72dbf4); */
/* } */

.glow {
  border: 1px solid transparent;
  transition: border 0.1s linear, box-shadow 0.1s linear;
}

@keyframes border-glow {
  from {
    border: 2px solid transparent;
    box-shadow: none;
  }

  60% {
    border-color: blue;
    box-shadow: 0 0 10px blue;
  }

  to {
    border: 2px solid transparent;
    box-shadow: none;
  }
}

.border-glow {
  animation: border-glow 1s;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.reset-btn {
  margin: 0 0 30px 0;
  padding: 20px 40px;
  background-color: #5e5447;
  color: white;
  border: 0px;
  border-radius: 10px;
  font-family: "Kanit", sans-serif;
  font-size: 1.5em;
}

.reset-btn:hover {
  cursor: pointer;
  background-color: #534a3d;
}

#progress-container {
  width: 80%;
  height: 10vh;
  border: 1px solid #000;
  border-radius: 20px;
  position: relative;
}

#loaded-images {
  position: absolute;
  width: 0%;
  height: 10%vh;
  top: 0;
  left: 0;
  background: #12c2e9;
  border-radius: 20px;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  /* background: linear-gradient(to right,#f12711,#f5af19); */
  background: linear-gradient(to right, #00b4db, #0083b0); 
}

#indicator {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.card-up {
  position: relative;
}

.card-up p {
  position: absolute;
  left: calc(var(--card-width)/4);
  top: calc(var(--card-height)/30);
}
